{% extends "base.html" %}
<!-- content -->
{% block content %}
  <div class="container text-right rtl">
    
    <div class="col-md-7" style="margin-bottom: 10px;">
      <form method="post" class="form-horizontal">
        {% csrf_token %}
      <div class="form-group">
        <label for="username">نام کاربری : </label>
        <input  name="username" type="text" id="username" class="form-control" placeholder="نام کاربری">
      </div>

      <div class="form-group">
        <label for="email">ایمیل : </label>
        <input  name="email" type="email" id="email" class="form-control" placeholder="ایمیل">
      </div>

      <div class="form-group">
        <label for="password">رمز عبور : </label>
        <input name="password" type="password" id="password" class="form-control" placeholder="رمز عبور">
      </div>

      <div class="form-group">
        <label for="password2">تکرار رمز عبور : </label>
        <input  name="password2" type="password" id="password2" class="form-control" placeholder="تکرار رمز عبور">
      </div>

      <button type="submit" class="btn btn-success">submit</button>

    </form>
    </div>
  </div>
{% endblock content %}
<!-- content -->